# BOLLYWOOD ASSIGNMENT

In [5]:
import pandas as pd

# lode the data 
bwd = pd.read_csv(r'C:\Users\lenovo\ADVANCE PYTHON (Ravi sir)\Data\bollywood.csv')

print(bwd)

     SlNo Release Date                    MovieName ReleaseTime      Genre  \
0       1    18-Apr-14                     2 States          LW    Romance
1       2     4-Jan-13                 Table No. 21           N  Thriller
2       3    18-Jul-14           Amit Sahni Ki List           N     Comedy
3       4     4-Jan-13             Rajdhani Express           N     Drama
4       5     4-Jul-14                 Bobby Jasoos           N     Comedy
..    ...          ...                          ...         ...        ...
144   145    27-Feb-15           Dum Laga Ke Haisha           N     Comedy
145   146    13-Mar-15                         NH10           N   Thriller
146   147    20-Mar-15  Dilliwali Zaalim Girlfriend           N     Comedy
147   148    20-Mar-15                     Hunterrr           N     Comedy
148   149    23-May-14                Kochadaiiyaan          HS     Action

     Budget  BoxOfficeCollection  YoutubeViews  YoutubeLikes  YoutubeDislikes
0        36               104.00       8576361         26622             2527
1        10                12.00       1087320          1129              137
2        10                 4.00        572336           586               54
3         7                 0.35         42626            86               19
4        18                10.80       3113427          4512             1224
..      ...                  ...           ...           ...              ...
144      15                30.00       3250917          8185              615
145      13                32.10       5592977         15464             1513
146      32                12.00       2316047          4289              807
147       5                11.89       4674795          3706              762
148     150               120.00       4740727         13466             2649

[149 rows x 10 columns]

1.	How many records are present in the dataset? Print the metadata information of the dataset?

In [10]:
bwd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

2.	How many movies got released in each genre? Which genre had highest number of releases?
Sort number of releases in each genre in descending order.

In [24]:
total_Genre = bwd['Genre'].value_counts
total_Genre

<bound method IndexOpsMixin.value_counts of 0        Romance
1      Thriller
2         Comedy
3         Drama
4         Comedy
         ...
144       Comedy
145     Thriller
146       Comedy
147       Comedy
148       Action
Name: Genre, Length: 149, dtype: object>

3.	How Many movies in each genre got released in different release times like long weekend,
festive season ,etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)

4.	Which month of the year, maximum number movie releases are seen? (Note: Extract a new column
                                                                      called month from ReleaseDate column.)

5.	Which month of the year typically sees most releases of high budgeted movies, that is, movies with 
budget of 25 crore or more?

6.	Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
(ROI) as (BoxOfficeCollection-Budget) / Budget.

7.	Do the movies have higher ROI if they get released on festive season or long weekend? Calculate
the average ROI for different release times.