# Case Study : Analyzing Online E-Commerce Data
                                                     Name : Sunil Joshi

In [1]:
# import the module
import pandas as pd

In [2]:
# loading the file 
bw = pd.read_csv(r"C:\Users\lenovo\Desktop\Downloads\Data\ecommerce_sales.csv",encoding='unicode_escape')

In [3]:
bw

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
# metadata
bw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
#  check the column and row
bw.shape  # 541909 row  # 8 column

(541909, 8)

# Data Cleaning

In [6]:
# check the Null Values
bw.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

null value : 
1. Description:1454
2. CustomerID:135080

In [7]:
# Check the duplicate value 
bw.duplicated().sum()

np.int64(5268)

In [8]:
# Remove the Duplicate values
bw.drop_duplicates(inplace=True)

In [9]:
bw.isnull().sum() # 43 duplicate value remove

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135037
Country             0
dtype: int64

In [10]:
# Check teh Data type : CustomerID 
bw['CustomerID'].dtype

dtype('float64')

In [11]:
#  CustomerID column fill the null value
bw['CustomerID'] = bw['CustomerID'].fillna(bw['CustomerID'].mean())

In [12]:
# check the Data type : Description 
bw.Description.dtype

dtype('O')

In [13]:
# fill the null value Description column
bw['Description'] = bw['Description'].fillna("NA")

In [14]:
bw.isnull().sum() # null values all clean

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [15]:
bw['UnitPrice'].loc[bw['UnitPrice']<=0] = bw['UnitPrice'].mean()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21844\940828505.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  bw['UnitPrice'].loc[bw['UnitPrice']<=0] = bw['UnitPrice'].mean()
C:\Users\lenovo\AppData\Local\Temp\ipykernel_21844\940828505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bw['UnitPrice'].loc[bw['UnitPrice']<=0] = bw['UnitPrice'].mean()

In [16]:
bw['Quantity'].loc[bw['Quantity']<=0] = bw['Quantity'].mean()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21844\177337787.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  bw['Quantity'].loc[bw['Quantity']<=0] = bw['Quantity'].mean()
C:\Users\lenovo\AppData\Local\Temp\ipykernel_21844\177337787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bw['Quantity'].loc[bw['Quantity']<=0] = bw['Quantity'].mean()
C:\Users\lenovo\AppData\Local\Temp\ipykernel_21844\177337787.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.620029032444409' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  bw['Quantity'].loc[bw['Quantity']<=0] = bw['Quantity'].mean()

In [17]:
bw.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

# EDA - Exploratory Data Analysis

* Identify the top 10 best -selling products

In [18]:
#  groupby 
p = bw.groupby("InvoiceNo")["Quantity"].sum()
print(p)

InvoiceNo
536365     40.000000
536366     12.000000
536367     83.000000
536368     15.000000
536369      3.000000
             ...
C581484     9.620029
C581490    19.240058
C581499     9.620029
C581568     9.620029
C581569    19.240058
Name: Quantity, Length: 25900, dtype: float64

In [19]:
#  top 10 - selling products
top_10 = p.sort_values(ascending=False)
top_10.head(10)

InvoiceNo
581483    80995.0
541431    74215.0
556917    15049.0
563076    14730.0
574941    14149.0
576365    13956.0
572035    13392.0
567423    12572.0
578841    12540.0
552883    12266.0
Name: Quantity, dtype: float64

In [20]:
top_10.tail(10)

InvoiceNo
561333    1.0
541001    1.0
541236    1.0
547531    1.0
547532    1.0
547534    1.0
547536    1.0
536521    1.0
547566    1.0
540982    1.0
Name: Quantity, dtype: float64

* Find the total revenue generated by each country

In [21]:
bw['Revenue']=bw['Quantity']*bw['UnitPrice']

# groupby
Total_Revenue = bw.groupby('Country')['Revenue'].sum()

Total_Revenue.sort_values(ascending=False)

Country
United Kingdom          1.324133e+07
EIRE                    3.801868e+05
Netherlands             2.904699e+05
Germany                 2.684555e+05
France                  2.676989e+05
Australia               1.441351e+05
Singapore               1.382483e+05
Spain                   9.171165e+04
Portugal                7.472998e+04
Hong Kong               6.911235e+04
Switzerland             5.879739e+04
Norway                  4.451133e+04
Belgium                 4.280558e+04
Sweden                  3.943604e+04
Japan                   3.893297e+04
Finland                 2.406999e+04
Channel Islands         2.379697e+04
Italy                   2.039984e+04
Denmark                 1.964221e+04
Cyprus                  1.748448e+04
Austria                 1.027198e+04
Israel                  8.206947e+03
Poland                  7.768129e+03
USA                     5.809158e+03
Greece                  5.241521e+03
Unspecified             4.740940e+03
Iceland                 4.310000e+03
Malta                   3.887882e+03
Canada                  3.666380e+03
United Arab Emirates    1.902280e+03
Lebanon                 1.693880e+03
Lithuania               1.661060e+03
European Community      1.341135e+03
Brazil                  1.143600e+03
RSA                     1.006943e+03
Czech Republic          9.217859e+02
Bahrain                 7.907923e+02
Saudi Arabia            1.742991e+02
Name: Revenue, dtype: float64

* Determine the busiest time of the day for transactions.

In [22]:
TransctionByHour = bw.groupby("Hour").size().sort_values(ascending=False)
TransctionByHour

KeyError: 'Hour'

# Feature Engineering

* Create a new column, TotalPrice = Quantity * UnitePrice

In [ ]:
bw['TotalPrice']= bw['Quantity'] * bw['UnitPrice']
bw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,15.30
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,20.34

* Extract Month and Hour from InvoiceDate for further analysis.

In [24]:
bw['InvoiceDate']=pd.to_datetime(bw['InvoiceDate'])
bw['InvoiceDate'] # date and time

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 536641, dtype: datetime64[ns]

In [25]:
# find the Month
bw['Month']=bw['InvoiceDate'].dt.month
bw['Month']

0         12
1         12
2         12
3         12
4         12
          ..
541904    12
541905    12
541906    12
541907    12
541908    12
Name: Month, Length: 536641, dtype: int32

In [27]:
# hour
bw['Hour']=bw['InvoiceDate'].dt.hour
bw['Hour']

0          8
1          8
2          8
3          8
4          8
          ..
541904    12
541905    12
541906    12
541907    12
541908    12
Name: Hour, Length: 536641, dtype: int32

In [102]:
# Data
bw

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,TotalPrice,Month,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,15.30,12,8
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,22.00,12,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,8
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12.0,2011-12-09 12:50:00,0.85,12680.0,France,10.20,10.20,12,12
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6.0,2011-12-09 12:50:00,2.10,12680.0,France,12.60,12.60,12,12
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4.0,2011-12-09 12:50:00,4.15,12680.0,France,16.60,16.60,12,12
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,2011-12-09 12:50:00,4.15,12680.0,France,16.60,16.60,12,12
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3.0,2011-12-09 12:50:00,4.95,12680.0,France,14.85,14.85,12,12

In [33]:
pivot = bw.pivot_table(values='Country',index='InvoiceNo', columns='StockCode',aggfunc='sum')
pivot.head(4)

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN